[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/JozekRH
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/JozekRH
	label-Verified = -1..+1 group user/JozekRH
	push = group user/JozekRH
	read = group user/JozekRH
	rebase = group user/JozekRH
	removeReviewer = group user/JozekRH
	submit = group user/JozekRH
[access "refs/heads/*"]
	create = group user/JozekRH
	push = +force group user/JozekRH
	pushMerge = group user/JozekRH
	read = group user/JozekRH
[access "refs/tags/*"]
	push = group user/JozekRH
	push = +force group user/JozekRH
